@import "_vars";
@import "_global";
@import "_fonts";

// start header

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}
.header__text {
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}
.header__btn {
	color: #fff;
	text-align: center;
	width: 72px;
	border-radius: 3px;
	line-height: 14px;
	font-size: 12px;
	background-color: $green;
	padding: 9px;
	+ .header__btn {
		margin-left: 7px;
		background-color: $red;
	}
}
.header__menu {
	background-color: $bg;
}
.menu {
	display: flex;
	align-items: center;
	height: 60px;
}
.menu__list {
	li {
		display: inline-block;
		a {
			color: #fff;
		}
		+ li {
			margin-left: 35px;
		}
	}
}

// end header

// start search

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 530px;
}
.search__inner {
	padding: 155px 0px 90px;
	color: #fff;
	text-align: center;
	&-title {
		font-size: 48px;
		line-height: 48px;
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		margin-bottom: 28px;
	}
	&-text {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 50px;
		font-weight: 500;
	}
	&-form {
		max-width: 670px;
		margin: 0 auto;
		position: relative;
		input {
			display: block;
			width: 100%;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			height: 56px;
			border: none;
			font-size: 14px;
			font-weight: 500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
			}
			&:focus {
				border: none;
			}
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 19px;
			top: 19px;
		}
	}
}

// end search

// start products

.products {
	padding: 100px 0 90px;
	background-color: $grey;
}
.products__inner-btn {
	text-align: center;
	margin-bottom: 60px;
	button {
		padding: 12px 20px;
		background-color: #fff;
		color: $bg;
		cursor: pointer;
		& + button {
			margin-left: 5px;
		}
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}
.products__inner-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product__item {
	max-width: 442px;
	width: 100%;
	box-shadow: 0px 1px 3px 1px #e7ecf2;
	margin-bottom: 30px;
	&-img {
		min-height: 250px;
		background-repeat: no-repeat;
		display: block;
		background-position: center;
		background-size: cover;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
		min-height: 90px;
		align-items: center;
		font-weight: 500;
		font-family: "Roboto", sans-serif;
		border-bottom: 1px solid #e7ecf2;
	}
	&-name {
		max-width: 310px;
		width: 100%;
	}
	&-title {
		display: block;
		font-weight: 500;
		font-size: 18px;
		color: $bg;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
		color: $bg;
	}
	&-category {
		color: $green;
	}
	&-info {
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		min-height: 70px;
		align-items: center;
	}
	&-author {
		font-size: 14px;
		font-weight: 500;
		display: flex;
		align-items: center;
		div {
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
			display: inline-block;
			margin-right: 14px;
		}
	}
}
.products__bottom-btn {
	text-align: center;
	button {
		margin: 45px 5px 0;
		padding: 20px 30px;
		box-shadow: 0px 1px 3px 1px rgba(204, 216, 228, 0.75);
		background-color: #fff;
		color: $bg;
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}

// end products
